<!doctype html>
<html lang="en">
  <head>
    <title>WA Status Archiver UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/main.css" />
    <script src="/htmx.min.js"></script>
  </head>

  <body>
    {{template "templates/partials/navbar" .}} {{template
    "templates/partials/sidebar" .}}
    <div class="min-h-screen p-4 pt-16 bg-gray-900/80 sm:ml-64">
      <div id="main-content">{{embed}}</div>
    </div>
  </body>

  <script src="/main.js"></script>
</html>
