{{template "templates/partials/page-header" .}}
<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-400"
  >
    <thead
      class="text-xs uppercase bg-gray-700 text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Push Name</th>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Full Name</th>
        <th scope="col" class="px-6 py-3">JID</th>
        <th scope="col" class="px-6 py-3">Business Name</th>
      </tr>
      <tr>
        <td class="px-6 py-3" colspan="5">
          <input
            type="text"
            class="input"
            name="search"
            hx-get="/contacts/hxp"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#contacts-body"
            placeholder="Search name or phone..."
          />
        </td>
      </tr>
    </thead>
    <tbody id="contacts-body">
      {{ template "templates/partials/contact" . }}
    </tbody>
  </table>
</div>
